@keyframes centering-one {
    from {
        left: 1%;
        width: 1px;
    }
    to {
        left: 4%;
        width: 3px;
    }
}

@keyframes centering-two {
    from {
        left: 4%;
        width: 3px;
    }
    to {
        left: 12%;
        width: 6px;
    }
}

@keyframes centering-three {
    from {
        left: 12%;
        width: 6px;
    }
    to {
        left: 33%;
        width: 10px;
    }
}

@keyframes centering-four {
    from {
        left: 33%;
        width: 10px;
    }
    to {
        left: 100%;
        width: 15px;
    }
}

body {
    margin: auto;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

.stroke {
    height: 100vh;
    background-color: black;

    &__container {
        position: relative;
        float: left;
        display: inline-block;
        width: 50%;
        height: inherit;
    }

    &__container--right {
        transform: rotate(180deg);
    }

    &__element {
        animation-duration: 2.25s;
        animation-iteration-count: infinite;
        position: absolute;
        height: 100%;
        background-color: white;
    }

    &__element--one {
        animation-name: centering-one;
        animation-timing-function: cubic-bezier(0.47, 0.38, 0.64, 0.53);
    }

    &__element--two {
        animation-name: centering-two;
        animation-timing-function: cubic-bezier(0.52, 0.34, 0.67, 0.49);
    }

    &__element--three {
        animation-name: centering-three;
        animation-timing-function: cubic-bezier(0.43, 0.31, 0.65, 0.49);
    }

    &__element--four {
        animation-name: centering-four;
        animation-timing-function: cubic-bezier(0.47, 0.23, 0.83, 0.48);
    }

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        width: 250px;
        margin: auto -125px;
    }

    &__content-tba {
        color: white;
        letter-spacing: 7px;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        text-transform: lowercase;
    }
}
